<h1>Data Binging</h1>
<section>
  <article>
    <h3> Interpolation/ Interpolação</h3>
    <p>String renderizada com interpolação: {{ getUrl() }}</p>
    <p>O resultado de 1 + 1 = {{ 1 + 1 }}</p>
  </article>

  <article>
    <h3>Proprety Binding</h3>
    <img [src]= 'urlImage'>
  </article>
  <article>
    <h3>Style e Class Binding</h3>
    <div>
      Selecione uma classe:
      <!--Dafinindo variável local(classe) e escutando o ecento(change)-->
      <select #classe (change)= 0>
        <option value="alert-primary">Primary</option>
        <option value="alert-secondary">Secondary</option>
        <option value="alert-success">Success</option>
        <option value="alert-warning">Warning</option>
        <option value="alert-info">Info</option>
        <option value="alert-light">Light</option>
        <option value="alert-dark">Dark</option>
        <option value="alert-danger">Danger</option>
      </select>
      <br><br>
      <!--Usando interpolação pra passar o valor-->
      <div class="alet {{ classe.value }}" role="alert">
        Este texto setá colorido de acordo com a classe escolhida
      </div>
      <br>
      <!--Usando o proprety binding pra adicionar as classe e fazendo comparação de valor-->
      <div class="alert" role="alert" [class.alert-primary]="classe.value == 'alert-primary'">
        A simple primary alert—check it out!
      </div>
      <div class="alert" role="alert" [class.alert-secondary]="classe.value == 'alert-secondary'">
        A simple secondary alert—check it out!
      </div>
      <div class="alert" role="alert" [class.alert-success]="classe.value == 'alert-success'">
        A simple success alert—check it out!
      </div>
      <div class="alert" role="alert" [class.alert-warning]="classe.value == 'alert-warning'">
        A simple warning alert—check it out!
      </div>
      <div class="alert" role="alert" [class.alert-info]="classe.value == 'alert-info'">
        A simple info alert—check it out!
      </div>
      <div class="alert" role="alert" [class.alert-light]="classe.value == 'alert-light'">
        A simple light alert—check it out!
      </div>
      <div class="alert" role="alert" [class.alert-dark]="classe.value == 'alert-dark'">
        A simple dark alert—check it out!
      </div>
      <div class="alert alert-danger" role="alert" 
      [style.display]="classe.value == 'alert-danger' ? 'block' : 'none'">
          Essa texto só é mostrado em caso de erro
      </div>
    </div>
  </article>
  <article>
    <h3>Event Binding</h3>
    <button class="btn btn-primary"
    (click)="botaoClicado()">
      Me clique
  </button>
  <br><br>
  <input type="text" 
  (keyup)="onKeyUp($event)"
  (keyup.enter)="salvaValor(campoInput.value)"
  (blur)="salvaValor(campoInput.value)" #campoInput
  >
  <br>
  <p> Valor Atual: {{ valorAtual }}</p>
  <p> Valor salvo: {{ valorDigitado }}</p>
  <span (mouseouver)="onMouseOuverOut()" (mouseout)="onMouseOuverOut()" 
  [class.highlight]="isMouseOuver" >
    Passe o mouse sobre mim
  </span>
  </article>
  <article>
    <h3>Two-way Data Binding</h3>
    <!--Não pode ter espaço entre o nome da diretiva e os parênteses-->
    <input type="text" [(ngModel)]="pessoa.nome">
    <input type="text" [(ngModel)]="pessoa.idade">
    <br>
    <p>Meu nome é {{ pessoa.nome }} e tenho {{ pessoa.idade }} anos</p>
  </article>
  <article>
    <h3>Input/Output Propreties</h3>

    <app-curso></app-curso>
  
  </article>
</section>
